/*................Variable*/
/*..................Basis*/
/*................Layout*/
/*..............Helpers*/
/*......Template Parts*/

/*................Variable*/
:root{
	--font: 'Open Sans', sans-serif;
	--link-color: #323232;
	--font-secondary-color: #686868;
	--color_font_banner: #ffffff;
	--h1: 3rem;
	--h1-padding: 1rem;
	--h2: 2.5rem;
	--h3: 1.5rem;
	--font-size: 1rem;
	--line-height:1.5rem;
	--color-primary:#fe7e17;
	--color-social-media:#848484;
}

/*..................Basis*/

body{
	max-width: 100vw;
	font-family: var(--font);
	display: flex;
	flex-direction: column; 
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2{
	font-size: var(--h2);
	font-weight: 300;
	color: #444;
	text-align: center;
	text-transform: uppercase;
}

h3{
	font-size: var(--h3);
	font-weight: 800;
}

hr{
	width: 9rem;
	color:var(--color-primary);
}



/*................Layout*/





/*--------------------------header----------------------------*/
/*header{
	position: sticky;
	top:0;
	background: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo_patti{
	width: auto;
	height: 30px;
}

.section_nav{
	display: flex;
}
*/
.pannel__nav{
	margin: 1px;
}
		.card-nav{
			display: inline-flex;
			margin:0 1rem;
		}
		
		.card-nav a{
		text-decoration: none;
		color: var(--link-color);
		}

		.card-nav a:hover,.card-nav a:focus{
		color: var(--color-primary);
		text-decoration: underline;
		}

/*--------------------------banner----------------------------*/



/*--------------------------about----------------------------*/



/*-----------------------------Team--------------------------*/

.section_team-header, .panel__team{
	text-align: center;
}

.section_team hr{
	width:20%;
}

.section_quote{
	text-align: center;
	height: 300px;
	background-image: url(img/parallax_quote.jpg);
}

.card-team{
	font-weight: 800;
}

.fa-facebook-f,.fa-twitter,.fa-linkedin-in{
	font-size: 1rem;
	padding: 9px;
	color: var(--color-social-media);
}
.fa-facebook-f:hover,.fa-twitter:hover,.fa-linkedin-in:hover{
	color: var(--color-primary);
}

.card-team-description{
	color: var(--font-secondary-color);
}

/*-----------------------------------------------------------*/
/*-----------------------------Filters-------------------------*/
.section_quote{
	color:var(--color_font_banner);
	font-size: 1.875rem;
}
/*-----------------------------------------------------------*/

/*-----------------------------Filters-------------------------*/


.section_filters a{
	color:var(--font-secondary-color);
	text-decoration: none;
}

.section_filters a:hover, .section_filters a:focus {
	color:var(--link-color);
	border: 1px solid var(--color-primary);
}

.panel_filters {
	display: flex;
    list-style-type: none;
	justify-content: space-between;
}


/*-----------------------------------------------------------*/

/*-----------------------------Gallery-------------------------*/
.section_gallery{
	overflow: hidden;
}
/*-----------------------------------------------------------*/

/*-----------------------------key figures--------------------------*/
.section_key-figures{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel__key-figures{
	text-align: center;
}

.card-key-figures-number{
	font-weight: 800;
	font-size: 3.5rem;
	margin-bottom: 0rem;
}

.card-key-figures{
	font-weight: 300;
	font-size: 1.5rem;
	margin-top: 0rem;
}

/*-----------------------------------------------------------*/

/*-----------------------------services--------------------------*/
.section_services i{
	font-size: 3.5rem;
}

.panel__services{
	border:1px solid var(--link-color);
	width: 90vw;
	height: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
}
.panel__services:hover{
	border:1px solid var(--color-primary);
	background-color: var(--color-primary);
	color: var(--color_font_banner);
}
.section_services i:hover{
	color: var(--color_font_banner);
}


/*-----------------------------------------------------------*/

/*-----------------------------statistics--------------------------*/


/*-----------------------------------------------------------*/

/*-----------------------------Partenaires--------------------------*/


/*-----------------------------------------------------------*/

/*-----------------------------Contact-------------------------*/


  /*-----------------------------Formulaire--------------------------*/


/*-----------------------------------------------------------*/
}
/*-----------------------------------------------------------*/



/*..............Helpers*/


/*......Template Parts*/

