/*................Variable*/
/*..................Basis*/
/*................Layout*/
/*..............Helpers*/
/*......Template Parts*/

/*................Variable*/
:root{
	--font: 'Open Sans', sans-serif;
	--link-color-nav: #323232;
	--link-color: #686868;
	--color_font_banner: #ffffff;
	--h1: 3rem;
	--h1-padding: 1rem;
	--h2: 2.5rem;
	--h3: 1.5rem;
	--font-size: 1rem;
	--line-height:1.5rem;
	--color-primary:#fe7e17;
}

/*..................Basis*/

body{
	width: 100vw;
	margin: auto;
	font-family: var(--font);
}

h2{
	text-align: center;
	font-size: var(--h2);
	font-weight: 300;
	color: #444;
}

h3{
	font-size: var(--h3);
	font-weight: 800;
}

hr{
	width: 5%;
	color:var(--color-primary);
}



/*................Layout*/





/*--------------------------header----------------------------*/
header{
	position: sticky;
	top:0;
	background: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo_patti{
	width: auto;
	height: 30px;
}

.section_nav{
	display: flex;
}

.pannel__nav{
	margin: 1px;
}

		.card-nav{
			display: inline-flex;
			margin:0 1rem;
		}
		
		.card-nav a{
		text-decoration: none;
		color: var(--link-color-nav);
		}

		.card-nav a:hover,.card-nav a:focus{
		color: var(--color-primary);
		text-decoration: underline;
		}

/*--------------------------banner----------------------------*/

.section_banner{
	background-image: url(images/banner.jpg);
	height: 34rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-banner{
	color: var(--color_font_banner);
	font-size: var(--h1);
	border:1px var(--color_font_banner) solid ;
	padding: var(--h1-padding);
		}


/*--------------------------about----------------------------*/


.panel_filters {
	display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.section_about{
	/*display: flex;
	justify-content: space-around;
	width: 80%;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 185px;
	grid-template-areas: "header header header";
}
/*
.panel__about-1{
	flex: 1;
}

.panel__about-2{
	flex: 2;
}
*/
.panel__about-header, hr{
	grid-area: header;
}

		.card-about{

				}


/*-----------------------------Team--------------------------*/

.section_team-header, .panel__team{
	text-align: center;
}
.section_team{
    display: flex;
}

.section_quote{
	text-align: center;
	height: 300px;
	background-image: url(img/parallax_quote.jpg);
}
/*-----------------------------------------------------------*/

/*-----------------------------Filters-------------------------*/
.section_filters{
	width: 40%;
	margin: auto;
}

.section_filters a{
	color:var(--link-color);
	text-decoration: none;
}

.section_filters a:hover, .section_filters a:focus {
	color:var(--link-color-nav);
	border: 1px solid var(--color-primary);
	padding:0.5rem;
}





/*-----------------------------------------------------------*/

/*-----------------------------Gallery-------------------------*/
.section_gallery{
	display: grid;
	grid-template-columns:repeat(7,auto);
	overflow: hidden;
}

.pannel__1{
	grid-area: 1/1/span 1/span 1;
}
.pannel__2{
	grid-area: 1/2/span 1/span 1;
}
.pannel__3{
	grid-area: 2/1/span 1/span 2;
}
.pannel__4 {
    grid-area: 1/3/span 2/span 2;
}
.pannel__5 {
    grid-area: 1/5/span 2/ span 1;
}
.pannel__6 {
    grid-area: 1/6/span 2/ span 2;
}
.pannel__7 {
    grid-area: 3/1/span 1/ span 1;
}
.pannel__8 {
    grid-area: 3/2/span 1/ span 2;
}
.pannel__9 {
    grid-area: 3/4/span 1/ span 1;
}
.pannel__10 {
    grid-area: 3/5/span 1/ span 2;
}
/*-----------------------------------------------------------*/

/*-----------------------------statistics--------------------------*/

.section_statistics{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
/*-----------------------------------------------------------*/

/*-----------------------------Partenaires--------------------------*/

.section_partenaires{
	background-color: var(--color-primary);
}
/*-----------------------------------------------------------*/

/*-----------------------------Contact-------------------------*/

.section_contact{
    display: flex;
    justify-content: space-around;

  /*-----------------------------Formulaire--------------------------*/

.section_form{
	display: flex;
	flex-direction: column;
	width:30%;
}
/*-----------------------------------------------------------*/
}
/*-----------------------------------------------------------*/



/*..............Helpers*/


/*......Template Parts*/

